*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: system-ui, sans-serif;
}

body{
    background:#0d1117;
    color:#e6edf3;
    line-height:1.7;
    max-width:800px;
    margin:auto;
    padding:40px 20px;
}

/* Header */

header{
    margin-bottom:60px;
}

header h1{
    font-size:42px;
}

header p{
    color:#8b949e;
}

/* Posts */

.post{
    padding:25px;
    border:1px solid #30363d;
    border-radius:12px;
    margin-bottom:25px;
    transition:0.3s;
}

.post:hover{
    border-color:#58a6ff;
    transform:translateY(-3px);
}

.post h2{
    margin-bottom:10px;
}

.date{
    font-size:14px;
    color:#8b949e;
}

/* Footer */

footer{
    margin-top:60px;
    text-align:center;
    color:#8b949e;
    font-size:14px;
}
